#h1 {
    margin-top: 150px;
    height: 50px;
    text-align: center;
    position: relative;
}

#h1>h1 {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#update {
    width: 120px;
    height: 50px;
    background-color: #0000;
    border: none;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    cursor: pointer;
}


#update>h1 {
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#update>i {
    font-size: 30px;
    transition: 2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#update>i:hover {
    transition: .2s;
    animation: rotate 2s 1;
}

#atags {
    width: 30vw;
    margin: 10px auto;
    text-align: center;
}

@keyframes rotate {
    0%{transform: translateY(-50%) scale(1.0);}
    10%{transform: translateY(-50%) scale(1.1) rotate(0);}
    90%{transform: translateY(-50%) scale(1.1) rotate(720deg);}
    100%{transform: translateY(-50%) scale(1.0) rotate(720deg);}
}