.error-message{
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border: #000000 2px solid;
    border-radius: 30px;
    background:#e1e352;
    box-shadow: 0px 0px 15px 0px rgba(98,98,98,0.8);
    padding:10px;
}
.text{
    text-align: center;
    font-family: "fui";
    margin:0;
    padding:0;
}
.back-top{
    font-size: 40px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: #000000 2px solid;
    border-radius: 10px;
    background: #aea2f7;
    cursor: pointer;
}
.back-top:hover{
    border: 2px solid #1a66ce;
    background: rgb(240, 237, 237);
    color: #333;
}
body{
background-image: url(../img/17.png);
background-size: 100%;
}
@font-face {
    font-family: fui;
    src: url(../fonts/HuiFontP29.ttf)format(truetype);
}
#errorsecond{
    margin-top: 20px;
    font-size: 30px;
}
#errorlogin{
    font-size: 40px;
    margin-top: 50px;
}
