* {
    cursor: default;
    margin: 0;
    box-sizing: content-box !important;
}


/*　上に上がる動き　*/

#header.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}


/*　下に下がる動き　*/

#header.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

img {
    -webkit-user-drag: none;
}

#header {
    background-color: #27816A;
    font-size: 18px;
    width: 100vw;
    height: 100px;
    color: #fff;
    vertical-align: middle;
    position: fixed;
    top: 0;
    opacity: .9;
    z-index: 99;
}

#navs img {
    height: 80px;
}

#search {
    width: 350px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
}

#search i {
    margin: 0 auto 0 -6px;
}

#search input {
    width: 80%;
    border: none;
    border-radius: 50px;
    display: inline-block;
    padding: 0 10px;
    color: #333;
}

#search button {
    width: 20%;
    border: none;
    border-radius: 50px;
    display: inline-block;
    color: #27816A;
    background-color: #fff;
    margin-left: 10px;
}

#search button i {
    width: 12px;
    height: 12px;
}

header ul#navs {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

header ul#nav {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

ul li {
    display: inline-block;
    margin-left: 2.5vw;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    color: #fff;
}

ul li button {
    background-color: #fff;
    color: #27816A;
    border: 1px solid #fff;
    font-size: large;
    transition: .2s;
}

ul li button:hover {
    background-color: #fffd;
    transform: scale(1.02);
}

ul li button:active {
    background-color: #27816A;
    color: #fff;
}

#admin {
    position: absolute;
    padding: 0;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    border: none;
    cursor: unset;
    background-color: #0000;
}

#admin_group {
    margin-left: 10px;
    list-style: none;
    display: none;
}

#admin_group li {
    display: inline-grid;
    margin: 2px 0;
}

#admin_group a {
    text-align: center;
    min-width: 110px;
    border-radius: 28px;
    font-size: 15px;
    padding: 2px 15px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #2e93e6;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

.logout img {
    margin-right: 5px;
    height: 30px;
    border-radius: 20px;
    border-color: #27816A;
    border: solid .5px;
}

.air {
    background-color: #27816A;
    opacity: .9;
    color: #fff;
    margin-top: 100px;
    margin-bottom: -120px;
    text-align: center;
    height: 100px;
}

.debug {
    display: inline-flex;
}

.debug div {
    margin: 0 20px;
}

i {
    margin: 0 5px;
}

.hamburger-menu {
    display: none;
}

.menu-btn {
    position: fixed;
    top: 18px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #27816A;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

#menu-btn-check {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 6vw;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    margin-top: 40px;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #27816A;
    transition: all 0.5s;
    /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}

.menu-content ul {
    width: 90vw;
    display: inline-grid;
}

.fa-arrow-up-right-from-square {
    font-size: 2px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background-color: #27816b51;
}

::-webkit-scrollbar-thumb {
    background: #27816b73;
    box-shadow: 1px 1px 3px 3px rgba(0, 67, 100, 0);
    width: 130px;
}

@media screen and (min-width:1175px) {
    .logout,
    #nav,
    #nav2,
    #nav1,
    #navs {
        /*コレ*/
        display: flex;
        /*コレ*/
        align-items: center;
        /*コレ*/
        justify-content: center;
    }
}

@media screen and (max-width:1175px) {
    .logout,
    #nav,
    #nav2,
    #nav1,
    #navs {
        /*コレ*/
        display: flex;
        /*コレ*/
        align-items: center;
        /*コレ*/
        justify-content: center;
    }
    #admin_group,
    .connect,
    #admin {
        display: none !important;
    }
}


/* 画面幅960px"以下"の時に読み込むスタイル */

@media screen and (max-width:1000px) {
    .logout,
    #navs {
        /*コレ*/
        display: flex;
        /*コレ*/
        align-items: center;
        /*コレ*/
        justify-content: center;
    }
    #nav1 {
        display: grid;
    }
    #admin_group,
    .connect,
    #admin {
        display: none !important;
    }
}


/* 画面幅960px"以下"の時に読み込むスタイル */

@media screen and (max-width:850px) {
    .logout,
    #nav,
    #nav2,
    #navs {
        /*コレ*/
        display: flex;
        /*コレ*/
        align-items: center;
        /*コレ*/
        justify-content: center;
    }
    #nav1 {
        display: grid !important;
    }
    #admin_group {
        display: none !important;
    }
    .connect {
        display: block !important;
    }
    #admin {
        display: none !important;
    }
    #search {
        display: none;
    }
}


/* 画面幅670px"以下"の時に読み込むスタイル */

@media screen and (max-width:670px) {
    #nav,
    #search {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    ul li {
        display: inline-block;
        margin-left: 6.5vw;
    }
}