* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#search>input {
    width: 40vw;
    height: 45px;
    border-radius: 45px;
    border: 1px solid #333;
    padding-left: 30px;
}

#search>button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 45px;
    height: 35px;
    border-radius: 45px;
    background-color: white;
    border: 0;
}

#buttonDiv {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}