* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
}

#search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 10;
}

#search>input {
    width: 40vw;
    height: 45px;
    border-radius: 45px;
    border: 1px solid #333;
    padding-left: 30px;
}

#search>button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 45px;
    height: 35px;
    border-radius: 45px;
    background-color: white;
    border: 0;
}

#buttonDiv{
    display: none;
}

#login {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    text-align: center;
}

.book-row {
    height: 55vh;
    margin-bottom: -5%;
}

.book {
    display: inline-block;
    width: 20vw;
    height: 100%;
    margin: 2%;
    position: relative;
}

.coverimg {
    width: 70%;
    height: 50%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.ps {
    width: 100%;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translateX(-50%);
}