#tables{
    width: 70vw;
}

.book_img,.th_img {
    height: 80px;
}
#container{
    width: 70vw !important;
}
a{
    color: blue;
}
a:hover{
    color: rgb(100, 100, 255) 
}
.pagination{
    background-color: black;
}

#chatbot-eyecatch-div{
    display: none !important;
}