h1 {
    width: 80%;
    margin: 150px auto 5vh;
    padding-bottom: 5px;
    color: #6cb4e4;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
}

#container {
    background-image: url("../img/back.png");
    background-size: contain;
    text-align: center;
}

.book-row {
    height: 50vh;
    padding-bottom: 2.5%;
    border-bottom: 1px solid #27816A;
}

.book {
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
    border-radius: 20px;    
    display: inline-block;
    width: 20vw;
    height: 100%;
    margin: 2%;
    position: relative;
}

.book:hover {
    border: none;
    box-shadow: 0 0 10px #5555;
}

.bookData {
    display: block;
    width: 95%;
}

.coverimg {
    max-width: 70%;
    max-height: 50%;
    object-fit: contain;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.coverimg {
    border: solid 5px white !important;
}

.reserve_btn,
.limit,.userlimit,
.standby,
.reserved {
    height: 30px;
    width: 100px;
}

.status {

    cursor: pointer;
    margin-left: 20px;
}

.icom {

    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
}
.limit,.limit .icom,.limit .status{
    cursor: not-allowed	;
}

.reserve_btn i,
.userlimit i,
.limit i,
.standby i,
.reserved i {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.5em
}

.ps {
    width: 95%;
    position: absolute;
    top: calc(52.5% + 30px);
    left: 50%;
    transform: translateX(-50%);
}

.reserve_btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #27816A;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reserve_btn:focus {
    outline: 3px double #47a18Add;
    background-color: #27816Add;
    border-radius: 10px;
    transition: .2s;
}

.reserve_btn:hover {
    background-color: #27816Add;
    border-radius: 10px;
    transition: .2s;
}

.reserved {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #352991;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reserved:focus {
    outline: 3px double #5549b1dd;
    background-color: #352991dd;
    border-radius: 10px;
    transition: .2s;
}

.reserved:hover {
    background-color: #352991dd;
    border-radius: 10px;
    transition: .2s;
}

.userlimit,
.limit,
.standby {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #888;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: not-allowed;
    pointer-events: none;
}

.userlimit:focus,
.limit:focus,
.standby:focus {
    outline: none;
}

#mbContainer {
    background-image: url("../img/backsp.png");
    background-size: contain;
    text-align: center;
    display: none;
}

.mb-book-row {
    width: 100vw;
}

.mb-book-div {
    width: 40%;
    height: 70vw;
    margin: calc(3.5vw - 1px);
    display: inline-block;
}

.mb-coverimg {
    width: 100%;
    height: 60vw;
    margin: 0;
    object-fit: cover;
    border: solid 1px #27816A;
    border-radius: 5px;
    display: block;
}

.mb-coverimg:hover {
    transform: scale(1.01);
    opacity: .8;
    transition: .2s;
}

.mb-standby,
.mb-userlimit,
.mb-limit {
    display: block;
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: #888;
    color: #fff;
}

.mb-reserve_btn {
    display: block;
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: #27816A;
    color: #fff;
}

.mb-reserved {
    display: block;
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: #352991;
    color: #fff;
}

@media screen and (max-width:670px) {
    #mbContainer {
        display: block;
    }
    .icom {
        top: auto !important;
        left: auto !important;
        height: auto !important;
        width: 30%;
        margin: 2px 0 0 3px;
        text-align: left;
    }
    #container {
        display: none;
    }
}