.margin{
  margin-top: 100px;
}
#container{
  background-image: url(../img/backsp.png);
  background-size: cover;
  text-align: center;
}
#icom{
  text-align: center;
}
#icom > img{
  width:  30vw;       
  height: 30vw;       
  border-radius: 50%;
  border: solid 5px #27816A;
  position: relative;
}
.mypage-frame{
  padding: 1em 1.4em;
  margin: 2em 2em;
  font-weight: bold;
  border: solid 3px #333;/*線*/
  border-radius: 10px;/*角の丸み*/
  min-width: 850px;
}
.tab-mypage{
  padding: 1em 1.4em;
  margin: 2vw 2vw;
  width: 20vw;
  font-weight: bold;
  border: solid 3px #333;/*線*/
  border-radius: 10px;/*角の丸み*/
  min-width: 190px;
}
.flex{
  display: flex;
}
#name{
  font-size:max(2vw,60px);
  font-weight: bold;
  margin: 0 auto;
}
.tab-mypage-content{
  position: relative;
  width: 100%;
  height: 120vw;

}
.acount-google{
  padding:max(1vw,10px);
  background-color: #27816A;
  color: #FFF;
  font-size:max(3.5vw,30px);
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  
}
.center{
  text-align: center;
}
.profile-frame{
  align-items: flex-end;
  color: #27816A;
  background-color: #ffffffa7;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #27816A;
  white-space: nowrap;
  position: relative;
}
.right-container{
  margin: 3vw;
}
.title{
  font-size: 1.2vw;

}
#hitokoto{
  width: 100%;
  border: 0px;
}
#hitokotoEdit{
  width: 3.5vw;
  min-width: 36px;
  margin: 0.3vw;
}
#output{
  font-size:max(1vw,30px);
  margin: 0 auto;
}
#mybtn{
  border: none;
  border-radius: 10px;
  background-color: #27816A;
  color: white;
  font-size:max(3.5vw,30px);
  font-weight: bold;
}
/* スライダーテスト */
.swiper-hide{
  overflow: hidden;
}
.swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 80%;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.swiper-pagination{
  float: none;
  color: #27816A;
  font-size: 5vw;
}

/* スライド総数 */
.book {
  display: flex;
  width: 40vw;
  margin-bottom: 1%;
}
.coverimg {
  border: solid 5px #27816A;
  width: 95%;
}
.void-mypage{
 text-align: center;
 vertical-align: middle;
}
.void-mypage > p {
  vertical-align: middle;
  color: rgba(51, 51, 51, 0.801);
  font-size: 6.5vw;
}
.swiper-button{
  --swiper-theme-color: #27816A;
}
#borrowingbook0{
  margin-left: 11%;
}
#bookhistory0{
  margin-left: 11%;
}
#returnbook0{
  margin-left: 11%;
}
#reservebook0{
  margin-left: 11%;
}
/* テスト */
.tab{
  display: flex;
  justify-content: center;
  list-style-type: none;
	padding-left: 0;
	flex-wrap: wrap;
}
.tab li{
  margin: 0 !important;
  float: left;
  border: solid 1px #27816A;
}
.tab li a{
	display: block;
  color: #27816A;
	padding:10px 20px;
  
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:#27816A;
  color: white;
}
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding:1vw 2vw 2vw 2vw;
}
.area.is-active {
  display: block;/*表示*/
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.tab-title{
  text-align: center;
  color: #27816A;
  font-size: 6vw;
  font-weight: bold;
  border-bottom: solid 2px #27816A;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
}
.array-enpty{
  text-align: center;
  vertical-align: middle;
}
/* バーコード */
#bcTarget {
  transform: scale(-1, -1);
  width: 92% !important;
  position:absolute;
  top: 30%;
  left: 4%;
}
#bcTarget > .bar0{
  width: 2.8px !important;
  height: 75px !important;
}
#bcTarget > .bar1{
  border-left: 2.8px solid #27816A !important;
  height:75px !important;
}
#bcTarget > div{
  color: #27816A !important;
  background-color: transparent !important;
  font-size: 20px !important;
}
.bcArea{
  display: none;
}
.bcArea.active {
  display: block;
  position: absolute;
  text-align: center;
  top: -100%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  animation: slide-in 1s forwards;
}
@keyframes slide-in {
  from {
    top: -100%;
  }
  to {
    top: 100px;
    
  }
}
.bcArea.none{
  display: block;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  animation: slide-out 1s forwards;
}
@keyframes slide-out {
  from {
    top: 100px;
  }
  to {
    top: -100%;
    
  }
}
.barcodeInfo{
  color: #27816bd3;
  font-size: 5vw;
}
#close{
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: none;
}
#close.active{
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.411);
}
