.tab-group{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    
  }

.tab-group li{
    vertical-align: middle;
    width: 15vw;
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
}
  .tab{
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-align:center;
    cursor:pointer;
  }
  .panel-group{
    font-size: 13px;
    margin: 0 auto;
    width: 70vw;
    height:auto;
  }
  .panel{
    display:none;
  }
  .tab.is-active{
    background:#27816a;
    color:#FFF;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 5px #8885;
    width: calc(15vw + 10px);
    height: 35px;
    line-height: 35px;
    margin: -5px 15px 0;
  }
  .panel.is-show{
    display:block;
  }

  .panel-group .book_img{
    text-align: center;
    height: auto;
    width: 60px;
  }
  .panel-group .table{
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .panel-group{
    margin: 0 auto !important;
    width: 70vw;
  }

  .panel_table {
    border: .5px solid #27816A;
    padding: 15px 50px;
  }

  #tables {
    margin: 0 auto !important;
    width: 70vw;
  }

  #container_wrapper{
    border: .5px solid #27816A;
    padding: 15px 50px;
  }

  #container{
    width: 100% !important;
}

.panel-group .title{
    width: 28vw;
}


.panel-group table {
    border-collapse: separate;  /* 表の線と線の間を空ける */
    border-spacing:  5px;       /* 表の線と線の間の幅 */

}

.panel-group th,td {
    text-align: center;
    padding: 5px 10px;          /* 余白指定 */
}

.panel-group th {
    height: 20px;
    text-align: center;
    background-color:  #3F51B5; /* 背景色指定 */
    color:  #fff;               /* 文字色指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
}


.panel-group td {
    background-color:  #c0c9ff; /* 背景色指定 */
}

.panel-group td .over{
    background-color: #ff6262!important;
    color:  #fff; 
}

.book_img,.th_img {
  height: 80px;
}

a{
  color: blue;
}
a:hover{
  color: rgb(100, 100, 255) 
}

.pagination{
  background-color: black;
}

#chatbot-eyecatch-div{
  display: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}